<div class="container mb-3 mt-2 pt-4 pb-4 rounded-pill">
  <div class="row">
    <div class="col-lg-2">
      <%= image_tag("postindexwelcomeimg.png", class:"ml-4")%>
    </div>
    <div class="col-lg-4">
      <h2 class="header-title-2 mt-4">Welcome <%= current_user.name %> </h2>
      <h3 class= "subtitle text-center"> Write something to share </h3>
    </div>
    <div class="col-lg-6">
      <%= form_for(@post) do |form| %>
        <%= form.label :content, class: "subtitle" %>
        <%= form.text_field :content, id: :post_content, class: 'form-control form-field mb-3', placeholder: 'Add New Post' %>
        <% if @post.errors.full_messages.any? %>
          <p class="errors">
            <%= "Post could not be saved. #{@post.errors.full_messages.join('. ')}" %>
          </p>
        <% end %>
        <%= form.submit 'Post!', class: 'btn btn-lg custom-btn' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container rounded">
  <div class="row">
    <div class="col-lg-12">
      <article class="timeline">
        <h3 class="header-title-2 mb-5 mt-3">Recent Activity</h3>
        <ul class="posts">
          <%= render @timeline_posts %>
        </ul>
      </article>
    </div>
  </div>
</div>
